body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}
:root {
    --bg-color-grey: rgba(218, 227, 218, 0.6);
    --shadow-color-grey: rgba(141, 140, 140, 0.8);
    --grey-dark: rgb(108, 104, 104);
    --grey-light: rgb(154, 147, 147);
    --grey-xl-light: rgba(206, 200, 200, 0.5);
    --link-color: #417af5;
    --theme-color: rgb(192, 64, 0);
    --theme-shadow: rgba(192, 64, 0, 0.5);
    --bg-color: rgb(242, 238, 211);
    --bg-color-light: rgba(242, 238, 211, 0.5);
}


/* ````````````````````````` LoginOption page ````````````````````````````` */
.loginOption-container {
    width: 100%;
    height: calc(100vh - 46px);
    min-height: 600px;
    background-color: var(--bg-color-light);
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.loginOption-container-wrapper {
    width: 70%;
    height: 100%;
    font-size: 2rem;
    font-weight: 600;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.loginOption {
    background-color: var(--bg-color);
    color: var(--theme-color);
    height: 300px;
    width: 400px;
    border-radius: 1rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    cursor: pointer;
}
.loginOption:hover {
    transform: scale(1.02);
}


/* ````````````````````````` Login page ````````````````````````````` */
.login-container {
    width: 100%;
    height: calc(100vh - 46px);
    min-height: 600px;
    background-color: var(--bg-color-light);
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.login-container-wrapper {
    height: 400px;
    width: 500px;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--bg-color);
}
.signin-text {
    margin-top: 2rem;
    margin-bottom: 2.5rem;
    font-size: 20px;
    color: var(--theme-color);
}
.input-section {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
[placeholder] {
    opacity: 0.6;
}
[placeholder]:focus::-webkit-input-placeholder {
    transition: text-indent 0.4s 0.4s ease; 
    text-indent: -100%;
    opacity: 1;
}
.invalid-credential {
    color: red;
    margin-bottom: 2rem;
    font-size: 14px;
}
.form-group {
    width: 100%;
    display: flex;
    justify-content: space-around;
    font-size: 12px;
}
.checkbox {
    display: flex;
    align-items: center;
    color: var(--grey-light);
}
.checkbox-input {
    height: 15px;
    width: 15px;
}
.forgot-pass {
    color: var(--theme-shadow);
    cursor: pointer;
}
.forgot-pass:hover {
    color: var(--theme-color);
}
.signin-btn {
    margin-top: 3rem;
    font-weight: 600;
    padding: 0.75rem 2.5rem;
    border-radius: 25px;
    color: white;
    background-color: var(--theme-color);
    border: none;
    box-shadow: 5px 5px 20px var(--theme-shadow);
    cursor: pointer;
}
.signin-btn:hover {
    transform: scale(1.02);
}
.signup-text {
    margin: 0.5rem 0;
    font-size: 12px;
    color: var(--theme-shadow);
    cursor: pointer;
}
.signup-text:hover {
    transform: scale(1.02);
    color: var(--theme-color);
}


/* ````````````````````````` Signup page ````````````````````````````` */
.signup-container {
    width: 100%;
    height: calc(100vh - 46px);
    min-height: 600px;
    background-color: var(--bg-color-light);
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.signup-container-wrapper {
    height: 580px;
    width: 620px;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--bg-color);
}
.heading {
    margin-bottom: 1rem;
}
.upload-dp-section {
    height: 30%;
    width: 100%;
    margin-bottom: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.dp {
    height: 90%;
    width: 100%;
    display: flex;
    justify-content: center;
}
.profile-picture {
    height: 144px;
    width: 144px;
    border-radius: 50%;
    object-fit: cover;
}
.dp-controls {
    display: flex;
    justify-content: space-around;
    width: 25%;
}
.gallery-text {
    font-size: 12px;
    color: var(--theme-shadow);
    cursor: pointer;
    text-decoration: underline;
}
.gallery-text:hover {
    transform: scale(1.02);
    color: var(--theme-color);
}
.input-section {
    width: 70%;
    display: flex;
    align-items: flex-start;
}
.form-input {
    width: 100%;
}
.login-container-wrapper input[type="text"],
.login-container-wrapper input[type="password"],
.signup-container-wrapper input[type="text"],
.signup-container-wrapper input[type="password"] {
    display: block;
    box-sizing: border-box;
    margin-bottom: 20px;
    padding: 4px;
    width: 100%;
    height: 32px;
    border: none;
    border-bottom: 1px solid #AAA;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 15px;
    transition: 0.2s ease;
}
.error-msg{
    font-size: 11px;
    color: red;
    margin-bottom: 10px;
    margin-top: -16px;
    display: none;
}
input:invalid[focused="true"]{
    border-bottom: 1px solid red;
}
input:invalid[focused="true"] ~ .error-msg{
    display: block;
}
.register-btn {
    margin-top: 0;
}
.loader-button{
    background-color: var(--theme-color);
    padding: 1.5px 50px;
}
.loader{
    height: 32px;
    width: 32px;
}
.existing-member{
    margin-top: 0.5rem;
    color: var(--theme-shadow);
    font-size: 12px;
}
.existing-member:hover {
    transform: scale(1.02);
    color: var(--theme-color);
}


/* ````````````````````````` Navbar page ````````````````````````````` */
.navbar-container {
    height: 46px;
    width: 100%;
    display: flex;
    align-items: center;
    position: sticky;
    z-index: 100000000;
    background-color: white;
    top: 0;
    box-shadow: 0px 2px 5px var(--shadow-color);
    font-size: 12px;
    font-weight: 600;
}
.navbar-left {
    margin-left: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: left;
    position: absolute;
}
.logo-img {
    height: 36px;
    width: 36px;
}
.logo-text {
    font-size: 20px;
    margin-left: 5px;
    font-weight: bold;
    cursor: default;
    color: #C04000;
}
.navbar-right {
    display: flex;
    align-items: center;
    position: absolute;
    right: 0;
    height: 100%;
}
.navbar-right-item {
    margin-right: 2rem;
    cursor: pointer;
    height: 100%;
}
.nav {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    height: 100%;
}
.active {
    text-decoration: none;
    color: #C04000;
}
.inactive {
    text-decoration: none;
    color: black;
}
.user-dp-name {
    display: flex;
    align-items: center;
}
.navbar-img {
    height: 32px;
    width: 32px;
    border-radius: 50%;
    object-fit: cover;
}
.navbar-username {
    margin-left: 5px;
}
.logout {
    height: auto;
    background-color: #C04000;
    padding: 8px 16px;
    border-radius: 6px;
    color: white;
}


/* ````````````````````````` Admin Home page ````````````````````````````` */
.adminHome-container-wrapper{
    width: 100%;
}


/* ````````````````````````` CreatePaper page ````````````````````````````` */
.createPaper-container {
    width: 100%;
    height: calc(100vh - 46px);
    min-height: 600px;
    background-color: var(--bg-color-light);
    display: flex;
    justify-content: center;
    align-items: center;
}
.createPaper-container-wrapper {
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.createPaper-title-ques-number {
    width: 100%;
    height: 65px;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
    background-color: var(--bg-color);
    border-radius: 1rem;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}
.createPaper-title-ques-number-wrapper {
    width: 80%;
    display: flex;
    justify-content: space-between;
}
.header-input {
    height: 2rem;
    border: 2px solid var(--grey-light);
    border-radius: 4px;
    padding: 0 0.5rem;
    /* font-size: 0.75rem; */
    /* font-weight: 600; */
    box-sizing: border-box;
}
.paper-title {
    width: 60%;
}
.no-of-question {
    width: 25%;
}
.create-paper {
    width: 100%;
    height: calc(100% - 160px);
    overflow: auto;
    display: flex;
    flex-direction: column;
}
.create-paper::-webkit-scrollbar {
    display: none;
}
.create-question-container {
    width: 100%;
    height: auto;
    box-sizing: border-box;
    background-color: var(--bg-color);
    border-radius: 1rem;
    padding: 1rem;
    margin-bottom: 1rem;
    border-bottom: 2px solid var(--grey-xl-light);
    display: flex;
}
.submit {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    font-weight: 600;
    padding: 0.75rem 2.5rem;
    border-radius: 25px;
    color: white;
    background-color: var(--theme-color);
    border: none;
    box-shadow: 5px 5px 20px var(--theme-shadow);
    cursor: pointer;
}
.submit:hover {
    transform: scale(1.02);
}
.disable-btn {
    background-color: var(--grey-light);
    cursor: not-allowed;
    box-shadow: none;
}
.disable-btn:hover {
    transform: none;
}
.create-question-left {
    width: 60px;
    height: 100%;
    font-size: 1.125rem;
    font-weight: 600;
}
.create-question-right {
    width: 40px;
    height: 100%;
    display: flex;
    justify-content: flex-end;
}
.create-question-middle {
    width: calc(100% - 80px);
    height: 100%;
}
.question-input {
    margin-bottom: 1.25rem;
    position: relative;
}
.question-textarea {
    box-sizing: border-box;
    width: 100% !important;
    padding: 4px 8px 16px 8px;
    margin-bottom: 0.5rem;
    background-color: rgb(249, 247, 230);
    border: 2px solid rgb(189, 184, 184);
    border-radius: 4px;
    font-weight: 400;
    font-size: 15px;
    transition: 0.2s ease;
}
.question-textarea::-webkit-scrollbar{
    display: none;
}
.option-input {
    display: flex;
    position: relative;
}
.option-name {
    margin-right: 1rem;
}
.previewImage {
    height: 48px;
    width: 48px;
    border-radius: 4px;
    object-fit: cover;
    position: absolute;
    right: -51px;
}
.questionPreviewImage {
    bottom: 2px;
}
.optionPreviewImage {
    bottom: 10px;
}
.textarea-icons {
    position: absolute;
    bottom: 0.2rem;
    right: 0.4rem;
    background-color: rgb(249, 247, 230);
}
.option-textarea-icons {
    bottom: 0.7rem;
}
.icons {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 13px;
    width: 20px;
    height: 20px;
    border-radius: 2px;
}
.icons:hover {
    background-color: var(--theme-color);
    color: white;
    transition: 0.4s ease;
}
.correct-option-and-checkbox {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.correct-option {
    margin-left: 1.875rem;
}
.question-checkbox {
    font-size: 12px;
}
.question-checkbox-input {
    height: 12px;
    width: 12px;
}
.fa-pen-to-square {
    color: var(--theme-color);
    cursor: pointer;
}
.fa-pen-to-square:hover {
    transform: scale(1.1);
}
.ql-tooltip {           /* dynamic class for quill tooltip popup*/
    z-index: 9999999;
    background-color: var(--theme-color) !important;
    color: white !important;
}