body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}
:root {
    --grey-xl-light: rgba(206, 200, 200, 0.5);
    --grey-light: rgb(154, 147, 147);
    --grey-dark: rgb(108, 104, 104);

    --button-color: rgb(192, 64, 0);
    --button-shadow: rgba(192, 64, 0, 0.5);

    /* blue color combination */
    --bg-color-light: #e3f2fd;
    --bg-color: #bbdefb;
    --bg-color-dark-1: #90caf9;
    --bg-color-dark-2: #64b5f6;
    --bg-color-dark-3: #42a5f5;
    --bg-color-dark-4: #0d47a1;

    /* green color combination */
    /* --bg-color-light: #d8f3dc;
    --bg-color: #b7e4c7;
    --bg-color-dark-1: #95d5b2;
    --bg-color-dark-2: #74c69d;
    --bg-color-dark-3: #52b788;
    --bg-color-dark-4: #40916c; */

    /* green-blue color combination */
    /* --bg-color-light: #d8f3dc;
    --bg-color: #c7f9cc;
    --bg-color-dark-1: #80ed99;
    --bg-color-dark-2: #57cc99;
    --bg-color-dark-3: #38a3a5;
    --bg-color-dark-4: #22577a; */

    /* pink color combination */
    /* --bg-color-light: #ffe5ec;
    --bg-color: #ffc2d1;
    --bg-color-dark-1: #ffb3c6;
    --bg-color-dark-2: #ffafcc;
    --bg-color-dark-3: #ff8fab;
    --bg-color-dark-4: #fb6f92; */
}


/* ````````````````````````` LoginOption page ````````````````````````````` */
.loginOption-container {
    width: 100%;
    height: calc(100vh - 46px);
    min-height: 600px;
    background-color: var(--bg-color-light);
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.loginOption-container-wrapper {
    width: 70%;
    height: 100%;
    font-size: 2rem;
    font-weight: 600;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.loginOption {
    background-color: var(--bg-color);
    color: var(--bg-color-dark-4);
    height: 300px;
    width: 400px;
    border-radius: 1rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    cursor: pointer;
}
.loginOption:hover {
    transform: scale(1.02);
}


/* ````````````````````````` Login page ````````````````````````````` */
.login-container {
    width: 100%;
    height: calc(100vh - 46px);
    min-height: 600px;
    background-color: var(--bg-color-light);
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.login-container-wrapper {
    height: 400px;
    width: 500px;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--bg-color);
}
.signin-text {
    margin-top: 2rem;
    margin-bottom: 2.5rem;
    font-size: 20px;
    color: var(--bg-color-dark-4);
}
.input-section {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
[placeholder] {
    opacity: 0.6;
}
[placeholder]:focus::-webkit-input-placeholder {
    transition: text-indent 0.4s 0.4s ease; 
    text-indent: -100%;
    opacity: 1;
}
.invalid-credential {
    color: red;
    margin-bottom: 2rem;
    font-size: 14px;
}
.form-group {
    width: 100%;
    display: flex;
    justify-content: space-around;
    font-size: 12px;
}
.checkbox {
    display: flex;
    align-items: center;
    color: var(--bg-color-dark-2);
}
.checkbox-input {
    height: 15px;
    width: 15px;
    cursor: pointer;
}
.forgot-pass {
    color: var(--bg-color-dark-2);
    cursor: pointer;
}
.forgot-pass:hover {
    color: var(--bg-color-dark-4);
}
.signin-btn {
    margin-top: 3rem;
    font-weight: 600;
    padding: 0.75rem 2.5rem;
    border-radius: 25px;
    color: white;
    background-color: var(--button-color);
    border: none;
    box-shadow: 5px 5px 20px var(--button-shadow);
    cursor: pointer;
}
.signin-btn:hover {
    transform: scale(1.02);
}
.signup-text {
    margin: 0.5rem 0;
    font-size: 12px;
    color: var(--bg-color-dark-2);
    cursor: pointer;
}
.signup-text:hover {
    transform: scale(1.02);
    color: var(--bg-color-dark-4);
}


/* ````````````````````````` Signup page ````````````````````````````` */
.signup-container {
    width: 100%;
    height: calc(100vh - 46px);
    min-height: 600px;
    background-color: var(--bg-color-light);
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.signup-container-wrapper {
    height: 580px;
    width: 620px;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--bg-color);
}
.heading {
    margin-bottom: 1rem;
}
.upload-dp-section {
    height: 30%;
    width: 100%;
    margin-bottom: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.dp {
    height: 90%;
    width: 100%;
    display: flex;
    justify-content: center;
}
.profile-picture {
    height: 144px;
    width: 144px;
    border-radius: 50%;
    object-fit: cover;
}
.dp-controls {
    display: flex;
    justify-content: space-around;
    width: 25%;
}
.gallery-text {
    font-size: 12px;
    color: var(--bg-color-dark-2);
    cursor: pointer;
    text-decoration: underline;
}
.gallery-text:hover {
    transform: scale(1.02);
    color: var(--bg-color-dark-4);
}
.input-section {
    width: 70%;
    display: flex;
    align-items: flex-start;
}
.form-input {
    width: 100%;
}
.login-container-wrapper input[type="text"],
.login-container-wrapper input[type="password"],
.signup-container-wrapper input[type="text"],
.signup-container-wrapper input[type="password"] {
    display: block;
    box-sizing: border-box;
    margin-bottom: 20px;
    padding: 4px;
    width: 100%;
    height: 32px;
    border: none;
    border-bottom: 1px solid var(--bg-color-dark-4);
    background-color: var(--bg-color-light);
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 15px;
    transition: 0.2s ease;
}
.error-msg{
    font-size: 11px;
    color: red;
    margin-bottom: 10px;
    margin-top: -16px;
    display: none;
}
input:invalid[focused="true"]{
    border-bottom: 1px solid red;
}
input:invalid[focused="true"] ~ .error-msg{
    display: block;
}
.register-btn {
    margin-top: 0;
}
.loader-button{
    background-color: var(--button-color);
    padding: 1.5px 50px;
}
.loader{
    height: 32px;
    width: 32px;
}
.existing-member{
    margin-top: 0.5rem;
    color: var(--bg-color-dark-2);
    font-size: 12px;
}
.existing-member:hover {
    transform: scale(1.02);
    color: var(--bg-color-dark-4);
}


/* ````````````````````````` Navbar page ````````````````````````````` */
.navbar-container {
    height: 46px;
    width: 100%;
    display: flex;
    align-items: center;
    position: sticky;
    z-index: 100000000;
    background-color: white;
    top: 0;
    box-shadow: 0px 2px 5px var(--shadow-color);
    font-size: 12px;
    font-weight: 600;
}
.navbar-left {
    margin-left: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: left;
    position: absolute;
}
.logo-img {
    height: 36px;
    width: 36px;
}
.logo-text {
    font-size: 20px;
    margin-left: 5px;
    font-weight: bold;
    cursor: default;
    color: var(--bg-color-dark-3);
}
.navbar-right {
    display: flex;
    align-items: center;
    position: absolute;
    right: 0;
    height: 100%;
}
.navbar-right-item {
    margin-right: 2rem;
    cursor: pointer;
    height: 100%;
}
.nav {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    height: 100%;
}
.timer, .attempt {
    cursor: default;
}
.timer {
    color: var(--button-color);
    font-size: 16px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.active {
    text-decoration: none;
    color: var(--bg-color-dark-3);
}
.inactive {
    text-decoration: none;
    color: black;
}
.user-dp-name {
    display: flex;
    align-items: center;
}
.navbar-img {
    height: 32px;
    width: 32px;
    border-radius: 50%;
    object-fit: cover;
}
.navbar-username {
    margin-left: 5px;
}
.logout {
    height: auto;
    background-color: var(--button-color);
    padding: 8px 16px;
    border-radius: 6px;
    color: white;
}


/* ````````````````````````` Admin Home page ````````````````````````````` */
.adminHome-container-wrapper{
    width: 100%;
}


/* ````````````````````````` CreatePaper page ````````````````````````````` */
.createPaper-container {
    width: 100%;
    height: calc(100vh - 46px);
    min-height: 600px;
    background-color: var(--bg-color-light);
    display: flex;
    justify-content: center;
    align-items: center;
}
.createPaper-container-wrapper {
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.createPaper-title-ques-number {
    width: 100%;
    height: 65px;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
    background-color: var(--bg-color);
    border-radius: 1rem;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}
.createPaper-title-ques-number-wrapper {
    width: 80%;
    display: flex;
    justify-content: space-between;
}
.header-input {
    height: 2rem;
    border: 2px solid var(--bg-color-dark-3);
    border-radius: 4px;
    padding: 0 0.5rem;
    box-sizing: border-box;
}
.paper-title {
    width: 60%;
}
.no-of-question {
    width: 25%;
}
.create-paper {
    width: 100%;
    height: calc(100% - 160px);
    overflow: auto;
    display: flex;
    flex-direction: column;
}
.create-paper::-webkit-scrollbar {
    display: none;
}
.create-question-container {
    width: 100%;
    height: auto;
    box-sizing: border-box;
    background-color: var(--bg-color);
    border-radius: 1rem;
    padding: 1rem;
    margin-bottom: 1rem;
    border-bottom: 2px solid var(--bg-color-dark-1);
    display: flex;
}
.submit {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    font-weight: 600;
    padding: 0.75rem 2.5rem;
    border-radius: 25px;
    color: white;
    background-color: var(--button-color);
    border: none;
    box-shadow: 5px 5px 20px var(--button-shadow);
    cursor: pointer;
}
.submit:hover {
    transform: scale(1.02);
}
.disable-btn {
    background-color: var(--bg-color-dark-1);
    cursor: not-allowed;
    box-shadow: none;
}
.disable-btn:hover {
    transform: none;
}
.create-question-left {
    width: 60px;
    height: 100%;
    font-size: 1.125rem;
    font-weight: 600;
}
.create-question-right {
    width: 40px;
    height: 100%;
    display: flex;
    justify-content: flex-end;
}
.create-question-middle {
    width: calc(100% - 80px);
    height: 100%;
}
.question-input {
    margin-bottom: 1.25rem;
    position: relative;
}
.question-textarea {
    box-sizing: border-box;
    width: 100% !important;
    padding: 4px 8px 16px 8px;
    margin-bottom: 0.5rem;
    background-color: var(--bg-color-light);
    border: 2px solid var(--bg-color-dark-3);
    border-radius: 4px;
    font-weight: 400;
    font-size: 15px;
    transition: 0.2s ease;
}
.question-textarea::-webkit-scrollbar{
    display: none;
}
.option-input {
    display: flex;
    position: relative;
}
.option-name {
    margin-right: 1rem;
}
.previewImage {
    height: 48px;
    width: 48px;
    border-radius: 4px;
    object-fit: cover;
    position: absolute;
    right: -51px;
}
.questionPreviewImage {
    bottom: 2px;
}
.optionPreviewImage {
    bottom: 10px;
}
.textarea-icons {
    position: absolute;
    bottom: 0.2rem;
    right: 0.4rem;
    background-color: var(--bg-color-light);
}
.option-textarea-icons {
    bottom: 0.7rem;
}
.icons {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 13px;
    width: 20px;
    height: 20px;
    border-radius: 2px;
}
.icons:hover {
    background-color: var(--bg-color-dark-4);
    color: white;
    transition: 0.4s ease;
}
.correct-option-and-checkbox {
    display: flex;
    justify-content: space-between;
}
.correct-option-div {
    display: flex;
    flex-direction: column;
}
.correct-option:invalid[focused="true"]{
    border: 2px solid red;
}
.correct-option {
    margin-left: 1.875rem;
}
.correct-option-error-msg{
    margin: 0;
    margin-left: 1.875rem;
}
.question-checkbox {
    font-size: 12px;
}
.question-checkbox-input {
    height: 12px;
    width: 12px;
}
.fa-pen-to-square {
    color: var(--bg-color-dark-4);
    cursor: pointer;
}
.fa-pen-to-square:hover {
    transform: scale(1.1);
}
.ql-tooltip {           /* dynamic class for quill tooltip popup*/
    z-index: 9999999;
    background-color: var(--bg-color-dark-4) !important;
    color: white !important;
}


/* ````````````````````````` Test paper list page ````````````````````````````` */
.test-papers-list-container {
    width: 100%;
    height: calc(100vh - 46px);
    min-height: 600px;
    background-color: var(--bg-color-light);
    display: flex;
    justify-content: center;
}
.test-papers-list-container-wrapper {
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}
.test-papers-list-heading {
    width: 100%;
    height: 50px;
    box-sizing: border-box;
    margin: 0;
    color: var(--bg-color-dark-4);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}
.test-papers-list-table {
    width: 100%;
    height: calc(100% - 110px);
    background-color: var(--bg-color);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.test-papers-list-sub-heading {
    width: 98%;
    height: 50px;
    background-color: var(--bg-color-dark-4);
    color: white;
    margin-top: 10px;
    border-radius: 6px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
}
.sub-heading {
    width: 20%;
}
.sub-heading-test-name {
    width: 40%;
    padding-left: 2rem;
}
.sub-heading-delete {
    width: 5%;
    color: var(--bg-color-dark-4);
}
.tick-mark {
    font-size: 20px;
    color: rgb(6, 157, 6);
}
.test-papers-list {
    width: 98%;
    height: calc(100% - 50px);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    overflow: auto;
}
.test-papers-list::-webkit-scrollbar {
    display: none;
}
.test-paper-row-delete {
    width: 100%;
    height: 35px;
    font-size: 13px;
    border-radius: 6px;
    margin-top: 4px;
    cursor: pointer;
    display: flex;
    align-items: center;
    transition: 0.2s ease;
}
.test-paper-row {
    width: 100%;
    display: flex;
    align-items: center;
}
.test-name {
    font-weight: 600;
}
.other {
    color: var(--grey-light);
}
.test-paper-row-delete:hover {
    background-color: var(--bg-color-dark-2);
    color: white;
}
.test-paper-row:hover > .test-name {
    color: white;
}
.test-paper-row:hover > .other {
    color: white;
}
.test-paper-row-delete:hover > .sub-heading-delete {
    color: white;
}
.create-new-btn-container {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.create-new-btn {
    margin: 0;
}


/* ````````````````````````` Particular Test paper page ````````````````````````````` */
.test-paper-container {
    width: 100%;
    height: calc(100vh - 46px);
    min-height: 600px;
    background-color: var(--bg-color-light);
    display: flex;
    justify-content: center;
}
.test-paper-container-wrapper {
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}
.paper-heading {
    display: flex;
    justify-content: flex-start;
    align-items: end;
    padding-left: 0.5rem;
}
.questions-div {
    overflow: auto;
}
.questions-div::-webkit-scrollbar {
    display: none;
}
.question-container {
    width: 100%;
    box-sizing: border-box;
    display: flex;
    padding: 1rem;
    padding-bottom: 0rem;
}
.question-number {
    width: 60px;
    font-size: 18px;
    font-weight: 600;
}
.question {
    width: calc(100% - 60px);
}
.question p {
    margin: 0;
}
.question-text {
    margin-bottom: 1rem;
    font-family: 'Times New Roman', Times, serif;
}
.question-image {
    max-width:100%;
    max-height:120px;
    width: auto;
    height: auto;
    border-radius: 4px;
    object-fit: cover;
}
.options {
    margin-top: 0.5rem;
}
.options-in-a-row {
    width: 100%;
    display: flex;
    margin-bottom: 1rem;
}
.option-image-container {
    display: flex;
    align-items: flex-start;
    margin-top: 0.5rem;
}
.option-image {
    margin-left: 1rem;
    max-width:100%;
    max-height:90px;
    width: auto;
    height: auto;
    border-radius: 4px;
    object-fit: cover;
}
.option {
    display: flex;
    width: 50%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.option p{
    margin-left: 0.5rem;
}
.correct-option-container {
    width: 95%;
    box-sizing: border-box;
    text-align: end;
    padding-right: 0.5rem;
    margin-bottom: -8px;
    font-size: 13px;
}
hr {
    width: 90%;
    border: 1px solid var(--bg-color-dark-1);
    margin-bottom: 1.5rem;
}


/* ````````````````````````` Instruction page ````````````````````````````` */
.instruction {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    overflow: auto;
}
.instruction::-webkit-scrollbar {
    display: none;
}
.imp-instruction {
    margin: 2rem 0 0.5rem 3.5rem;
    text-decoration: underline;
}
.instruction-container {
    font-size: 14px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 2rem;
    margin-top: 0;
}
.instruction-list{
    margin-bottom: 1rem;
}
.instruction-checkbox {
    margin-left: 3rem;
    margin-bottom: 1rem;
    color: var(--bg-color-dark-4);
}


/* ````````````````````````` Exam page ````````````````````````````` */
.option-radio-button {
    height: 12px;
}
.remove-response {
    margin-bottom: -4px;
    text-decoration: underline;
    color: var(--bg-color-dark-4);
    cursor: pointer;
}


/* ````````````````````````` Thank you page ````````````````````````````` */
.thank-you-container-wrapper {
    flex-direction: row;
    align-items: center;
}
.thank-you {
    justify-content: center;
}
.thank-you-text {
    font-size: 2rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


/* ````````````````````````` Exam Overview page ````````````````````````````` */
.progress-bar {
    width: 100%;
    height: 40%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
}
.outer-circle {
    height: 160px;
    width: 160px;
    border-radius: 50%;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 6px 6px 10px -1px rgba(0,0,0,0.4),
                -6px -6px 10px -1px rgba(255,255,255,0.5);
}
.inner-circle {
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--bg-color-dark-4);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    height: 120px;
    width: 120px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: inset 4px 4px 6px -1px rgba(0,0,0,0.3),
                inset -4px -4px 6px -1px rgba(255,255,255,0.4);
}
circle {
    fill: none;
    stroke: url(#GradientColor);
    stroke-width: 20px;
    stroke-dasharray: 472;
}
svg {
    position: absolute;
}
.marks-overview {
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.marks {
    background-color: var(--bg-color-dark-1);
    height: 120px;
    width: 120px;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.label {
    font-size: 13px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.number {
    font-size: 18px;
    font-weight: 600;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: var(--bg-color-dark-4);
}

.wrong-ans {
    color: red;
}
.wrong-ans-image {
    border: 2px solid red;
}